<form class="form-inline" data-ng-submit="login()" data-ng-hide="currentUser.isAuthenticated()">
  <h1>Nulogy Book Club</h1>
  <p>Authentication is required to continue. You must have an <a href="https://login.persona.org/" target="_blank">Persona</a> account.</p>
  <button class="btn btn-large btn-primary">Okay, log me in!</button>
</form>

<p data-ng-show="currentUser.isAuthenticated()">
  You are logged in as <strong>{{ currentUser.email }}</strong>. <a href="#/">Continue to home page</a>
</p>
