@import "variables";

html, body {
  margin: 20px;
}

body {
  background: $pageColor;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: $textColor;
}

#wrapper {
  display: none;

  &.initialized {
    display: block;
  }
}
