<ul class="books-list">
  <li class="book add-book">
    <a href="#/add-book">
      <i class="fa fa-plus-sign"></i>
      Add Book
    </a>
  </li>

  <li data-ng-repeat="book in books" class="book" ng-class="{'is-favourited': favourited[book.id]}">
    <a class="favourite" ng-click="addToFavourites(currentUser, book)" ng-hide="favourited[book.id]">
      <i class="fa fa-star-o"></i>
    </a>

    <a class="favourite" ng-click="removeFromFavourites(currentUser, book)" ng-show="favourited[book.id]">
      <i class="fa fa-star"></i>
    </a>

    <h3 class="book-title"><a ng-href="#/books/{{book.id}}">{{ book.title }}</a></h3>
    <p class="book-author">{{ book.author }}</p>
  </li>
</ul>
