<ul ng-show="isAuthenticated()">
  <li>
    <a ng-click="closeSidebar()" class="sidebar-close">
      <i class="icon-double-angle-left"></i>
      Close
    </a>
  </li>
  <!--li>
    <a ng-click="showSettings()">
      <i class="icon-cog"></i>
      Settings
    </a>
  </li-->
  <li>
    <a ng-click="showBookClub()">
      <i class="icon-group"></i>
      Book Club
    </a>
  <li>
  <li>
    <a ng-click="showBooks()">
      <i class="icon-book"></i>
      Books
    </a>
  <li>
  <li>
    <a ng-click="showBookmarks()">
      <i class="icon-bookmark"></i>
      My Bookmarks
    </a>
  <li>
  </li>
    <a ng-click="logout()">
      <i class="icon-signout"></i>
      Logout
    </a>
  </li>
</ul>
