<ul ng-show="isAuthenticated()">
  <li>
    <a ng-click="closeSidebar()" class="sidebar-close">
      <i class="fa fa-double-angle-left"></i>
      Close
    </a>
  </li>
  <!--li>
    <a ng-click="showSettings()">
      <i class="fa fa-cog"></i>
      Settings
    </a>
  </li-->
  <!--li>
    <a ng-click="showBookClub()">
      <i class="fa fa-group"></i>
      Book Club
    </a>
  <li-->
  <li>
    <a ng-click="showBooks()">
      <i class="fa fa-book"></i>
      Books
    </a>
  <li>
  <li>
    <a ng-click="showFavourites()">
      <i class="fa fa-star"></i>
      My Favourites
    </a>
  <li>
  </li>
    <a ng-click="logout()">
      <i class="fa fa-signout"></i>
      Logout
    </a>
  </li>
</ul>
