<div class="navbar-inner">
  <div class="container">
    <div class="brand">
      <a href="#/sessions">
        <i class="fa fa-home"></i>
        <span class="brand-text">Book Club</span>
      </a>
    </div>
    <ul class="nav pull-right">
      <li ng-show="isAuthenticated()">
        <a class="dropdown-toggle" data-toggle="dropdown" ng-click="toggleSidebar()">
          <img ng-src="{{currentUser.avatarUrl()}}" class="avatar"/>
          <i class="fa fa-chevron-right" ng-hide="sidebarIsShown"></i>
          <i class="fa fa-chevron-left" ng-show="sidebarIsShown"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
