@import "variables";

.books-list {
  $gutter: 10px;
  $boxWidth: 225px;
  $boxHeight: 290px;

  list-style: none;
  overflow: hidden;
  margin: 0;

  .book {
    box-sizing: border-box;
    float: left;
    position: relative;

    border: 1px solid #ccc;
    border-radius: 5px;
    margin: $gutter / 2;
    padding: 10px;

    width: $boxWidth;
    height: $boxHeight;

    &:hover {
      background-color: #eee;
    }

    &.add-book {
      border-style: dashed;
      font-size: $font-largest;
      padding-top: $boxHeight/2 - $gutter/2 - $font-largest;
      text-align: center;
    }
  }

  .book-title {
    text-align: center;
    font-weight: normal;
    margin-top: 30px;
    word-wrap: break-word;
    font-size: $font-medium;
    line-height: 1.5;
  }

  .book-author {
    text-align: center;
    font-weight: normal;
    margin-top: 30px;
    word-wrap: break-word;
    font-size: $font-smaller;
    color: $gray-light;
  }

  .book-attachment {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.favourite {
  visibility: hidden;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: $font-larger;
}

.book:hover,
.book.is-favourited {
  .favourite {
    visibility: visible;
  }
}


.add-book {
  .inline-text,
  .book-attachment-add,
  .book-attachment-remove {
    display: inline-block;
    padding: 5px;
  }

  .book-attachment-remove {
    color: $red;
  }
}
