@import "variables";

#sidebar {
  position: fixed;
  right: -3px;
  top: 0;

  border-right: 3px solid $gray-darkest;
  height: 100%;
  width: 0;
  z-index: 1040;

  background-color: $gray-dark;
  box-shadow: inset 1px 0 10px $gray-darkest;
  color: $white;

  overflow: hidden;

  transition: all 300ms ease-in-out;

  ul {
    list-style: none;
    margin: 0;
    padding: 0 3px 0 0;
    user-select: none;

    a {
      display: block;
      line-height: $font-large;
      margin: 0;
      padding: $font-large;
      vertical-align: middle;

      color: $white;
      font-size: $font-large;

      white-space: nowrap;

      &.sidebar-close {
        line-height: $font-medium;
        font-size: $font-medium;
      }

      &:hover {
        background-color: $gray-darkest;
      }
    }
  }

  &.is-shown {
    width: 20%
  }
}
