$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$pageColor: #fafafa;
$textColor: #333;

$font-smaller: 12px;
$font-smaller: 14px;
$font-medium:  16px;
$font-larger:  24px;
$font-largest: 28px;
