$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$pageColor: #fafafa;
$textColor: #333;

$font-smaller: 12px;
$font-smaller: 13px;
$font-small:   14px;
$font-medium:  16px;
$font-large:   20px;
$font-larger:  24px;
$font-largest: 28px;

// Colors
$white: #ffffff;

$black: #000000;

$red-lightest: #ffdada;
$red: #fe0000;
$red-darker: #640000;

$gray-lightest: #eee;
$gray-lighter: #ccc;
$gray-light: #999;
$gray-light: #777;
$gray: #444;
$gray-dark: #333;
$gray-darker: #222;
$gray-darkest: #111;


$nudge-size: 5px;
$gutter-size: 10px;
