<ul class="books-list" ng-show="books.length > 0">
  <li>
    <div class="book add-book">
      <a href="#/add-book">
        <i class="fa fa-plus-sign"></i>
        Add Book
      </a>
    </div>
  </li>

  <li data-ng-repeat="book in books">
    <article class="book" ng-class="{'is-bookmarked': book.isBookmarked}">
      <a class="bookmark" ng-click="addToFavourites(currentUser, book)" ng-hide="book.isBookmarked">
        <i class="fa fa-star-o"></i>
      </a>

      <a class="bookmark" ng-click="removeFromFavourites(currentUser, book)" ng-show="book.isBookmarked">
        <i class="fa fa-star"></i>
      </a>

      <h3 class="book-title">{{ book.title }}</h3>
      <p class="book-author">{{ book.author }}</p>
      <a download class="book-attachment" href="{{book.meta.url}}" target="_blank" ng-show="book.meta.url">
        <i class="fa fa-cloud-download"></i>
        download
      </a>
    </article>
  </li>
</ul>
